
# Java/Maven Temporary Files #
*/target/**
*.jar
*.war
*.ear
.metadata
/workspace.code-workspace

# Eclipse #
RemoteSystemsTempFiles/*
data-service/.classpath
data-service/.project
data-service/.settings
data-service/RemoteSystemsTempFiles
data-service/.idea
/.recommenders/


# Intellij
data-service/.idea/*
revamp-service/*.iml
revamp-service/*.iws
data-service/.idea
data-service/workspace.xml


revamp-service.iml

.idea/
/.idea/
