
# Java/Maven Temporary Files #
**/target
**/.metadata
**/workspace.code-workspace

# Eclipse #
**/.settings
**/RemoteSystemsTempFiles
**/.classpath
**/.project
**/.idea
**/.recommenders
**/.factorypath


# Intellij
**/*.iml
**/*.iws
**/workspace.xml

# VSCode
**/.vscode