.nav-tabs {
    border-bottom: 1px solid #ddd;
  }
  
 .select{
    box-sizing: content-box;
    height: 20px;
}
  .nav-tabs > li {
    margin-bottom: -1px;
  }
  
  .nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
  }
  
  .nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
  }
  
  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }
  
  .nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
  }
  
  .nav-pills > .active > a,
  .nav-pills > .active > a:hover {
    color: #ffffff;
    background-color: #d00b01;
  }
  
  .nav-stacked > li {
    float: none;
  }
  
  .nav-stacked > li > a {
    margin-right: 0;
  }
  
  .nav-tabs.nav-stacked {
    border-bottom: 0;
  }
  
  .nav-tabs.nav-stacked > li > a {
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
  
  .nav-tabs.nav-stacked > li:first-child > a {
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
  }
  
  .nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
  }
  
  .nav-tabs.nav-stacked > li > a:hover {
    z-index: 2;
    border-color: #ddd;
  }
  
  .nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
  }
  
  .nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px;
  }
  
  .nav-tabs .dropdown-menu {
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
  }
  
  .nav-pills .dropdown-menu {
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  
  .nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #d00b01;
    border-bottom-color: #d00b01;
  }
  
  .nav .dropdown-toggle:hover .caret {
    border-top-color: #d00b01;
    border-bottom-color: #d00b01;
  }
  
  /* move down carets for tabs */
  
  .nav-tabs .dropdown-toggle .caret {
    margin-top: 8px;
  }
  
  .nav .active .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  
  .nav-tabs .active .dropdown-toggle .caret {
    border-top-color: #555555;
    border-bottom-color: #555555;
  }
  
  .nav > .dropdown.active > a:hover {
    cursor: pointer;
  }
  
  .nav-tabs .open .dropdown-toggle,
  .nav-pills .open .dropdown-toggle,
  .nav > li.dropdown.open.active > a:hover {
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
  }
  
  .nav li.dropdown.open .caret,
  .nav li.dropdown.open.active .caret,
  .nav li.dropdown.open a:hover .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }

  body{
    background: #eeeeee;
  }