select{
    box-sizing: content-box;
    height: 20px;
}
.tabbable{
    margin-bottom: 9px;
}
.radio-container input {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding-top: 10px;
    position: relative;
}
#file{
    cursor: pointer;
    border: 1px solid black;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-left: 100px;
}